.viewer {
  position: relative;
}

.canvas-viewer {
  cursor: -webkit-grab;
}

.thumbnail {
  position: absolute;
  top: 8px;
  right: 8px;
}

.indicator {
  border: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.x-range {
  width: 1000px;
}

.y-range {
  -webkit-appearance: slider-vertical;
  position: absolute;
  top: 0;
  left: 1004px;
  width: 21px;
  height: 600px;
}
